<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting id="rpcstream.notify" type="bool" label="Enable Notifications" default="true"/>
        <setting id="rpcstream.ia" type="bool" label="Use InputStream Adaptive if available" default="true"/>
        <setting id="rpcstream.debug" type="bool" label="Debug Mode" default="false"/>
    </category>
</settings>
