<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting id="rpcstream.notify" type="bool" label="Display Notifications" default="true"/>
        <setting type="sep"/>
        <setting id="rpcstream.history" label="History Size" type="slider" default="50" range="0,5,500" option="int"/>
    </category>
    <category label="Advanced">
        <setting id="rpcstream.ia" type="bool" label="Use InputStream Adaptive for Hls and Dash streams" default="true"/>
        <setting type="sep"/>
        <setting id="rpcstream.urlresolver" type="bool" label="Use UrlResolver" default="true"/>
        <setting id="rpcstream.resolveurl" type="bool" label="Use ResolveUrl" default="true"/>
        <setting type="sep"/>
        <setting id="rpcstream.debug" type="bool" label="Debug Mode (kodi.log)" default="false"/>
    </category>
</settings>
